header {
    background: linear-gradient(90deg, rgb(65, 180, 220), rgb(199, 252, 240));
}

body {
    margin: 0;
    background-color:  rgba(218,218,214,1);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid rgba(145,144,144,1);
    padding: 10px;
}

nav img{
    width: 150px;
    margin-right: 200px;
}

nav h1{
    margin-right: 100px;
    font-size: 60px;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 40px;
    font-size: 30px;
    border-radius: 5px;
}

nav input {
	font-size: 20px;
	margin-left: 100px;
	
}

nav a:hover{
    background: linear-gradient(90deg, rgb(147, 246, 224), rgb(199, 252, 240));
    color: black;
    border-bottom: 3px solid rgb(31, 91, 102);
    padding: 10px;
    transition: 0.3s;
    border-radius: 10px;
}

h4 {
    margin-left: 1050px;
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 0px;
    text-decoration: underline;
    color: black;
}

.text{
    display: flex;;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: center;
}

.text p{
    margin: 10px;
    padding: 100px;
    border: 2px solid black;
}

.text iframe{
    size: auto;
    margin-left: 400px;
    border: 2px solid black;
}