html{
    background: linear-gradient(90deg, #b9cddaff, #a6d8d4ff);
}

.form-structure {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    text-align: center;
    font-family: sans-serif;
}

form{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 40px;
}

.form-text{
    width: 30em;
}

.form-mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.form-mail input[type=text]{
    width: 100%;
}

.form-mdp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.form-mdp input[type=password]{
    width: 100%;
}

.form-structure img{
    width: 150px;
}

.material-symbols-rounded{
    margin-right: 10px;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: rgba(145, 144, 144, 0.5);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border-color: #b9cddaff;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
    border-radius: 10px;
}

input[type=submit]:hover{
    background: linear-gradient(90deg, #b9cddaff, #a6d8d4ff);
    color: black;
    transition: all 0.5s;
}

form a {
    text-decoration: none;
    color: blue;
}
form a:visited,

form a:hover{
    border-bottom: solid 1px gray;
}

