* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    font-family: sans-serif;
}

header {
    background: linear-gradient(90deg, #b9cddaff, #a6d8d4ff);
}

body {
    margin: 0;
}

.saisie-historique{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

fieldset{
    margin: 100px;
    padding: 50px;
    border-radius: 10px;
    border: solid 1px #e17d04;
    background-color: rgba(225, 125, 4, 0.1);
    outline: none;
    margin-right: 2em;
}

.simu-titre h1 {
   text-align: center;
   margin-top: 1em;
}

.saisie {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 35px;
}

.saisie label {
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: bold;
}
.titre {
    margin-bottom: 1em;
}


.cle { 
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.message { 
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.bouton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bouton input {
   font-size: 1.5em;
}

.bouton .bouton-chiffrer {
   margin-bottom: 10px;
}

.resultat {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.resultat p{
   margin-left: 20px;
   font-size: 20px;
} 

.table-crypto {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    text-align: center;
    font-family: sans-serif;
}

table{
    border-collapse: collapse ;
    width: 100%;
}

td, th{
    border-collapse: collapse ;
    padding: 10px;
    border: solid 1px #e17d04;
    text-align: center;
}

tr{
    background-color: #faeee2;
}

#first-line{
    background-color: #e5984c;
}


.table-aff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

@media screen and (max-width: 1120px){
    .saisie-historique{
        flex-direction: column;
    }

    .table-crypto {
        margin-top: 0vh;
    }
}


