html{
    background: rgba(236, 172, 94, 0.3);
}

.table-error table{
    width: 100%;
}

.display{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display h1{
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    align-items: center;

}
.image{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

input[type=submit] {
    background-color: rgba(225, 125, 4, 0.1);
    border-radius: 10px;
    border: solid 1px #e17d04;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
}

input[type=submit]:hover{
    background: rgba(225, 125, 4, 0.4);
    color: black;
    transition: all 0.5s;
}