* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    background-color: #d7dae5ff;
    font-family: sans-serif;
}

header {
    background: linear-gradient(90deg, #b9cddaff, #a6d8d4ff);
}

body {
    margin: 0;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(90deg, #b9cddaff, #a6d8d4ff);
    padding: 20px;
    border-bottom: 2px solid #6b7d7dff;
}

.navBar .logo{
    width: 80px;
    margin-left: 50px;

}
.navBar h1 {
    font-size: 30px;
    margin-left: 0;
}
.navBar input{
    font-size: 30px ;
}

.simulation h1{
    margin-bottom: 1em;
    text-align: center;
}

.simulation{
    margin-top: 1em;
    margin-bottom: 3em;

}

.simulation .graphique {
    width: 500px;
    height: 300px;
    display: flex;

}

.methodes{
    display: flex;
    flex-direction: column;
    margin-right: 15em;
    margin-left: -15em;
}

.methodes-button{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.methodes-button input{
    margin-bottom: 1em;
    font-size: 1em;
    border: 2px solid #6b7d7dff;
    border-radius: 3px;

}

.methodes-graphique{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.saisie{
    display: flex;
    flex-direction: row;
    padding: 1px;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-left: -10em;

}

.saisie fieldset{
    border-radius: 5%;
}

.form-structure{
    margin: 1em;
}

.saisie p{
    margin-top: 3em;
    text-align: center;
}

.methodes-param_1{
    display: flex;
    flex-direction: row;
}

.methodes-param_2{
    display: flex;
    flex-direction: column;
}

.methodes-param_2_1, .methodes-param_2_2, .methodes-param_2_3{
    margin-top: 1em;
}

.methodes-submit{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.methodes-submit input{
    font-size: 20px;
}








