* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    background-color: rgb(229, 230, 235);
    /* background-color: #d7dae5ff; */
    font-family: sans-serif;
}

header {
    background: linear-gradient(90deg, #b9cddaff, #a6d8d4ff);
}

body {
    margin: 0;
}

.table table{
    width: 100%;
}   

.simu-titre h1{
    margin-bottom: 1em;
    text-align: center;
}

.simulation{
    margin-top: 1em;
    margin-bottom: 1em;
}

.simulation .graphique {
    width: 500px;
    height: 300px;
    display: flex;

}

/* .methodes-graphique{
    display: flex;
    justify-content: space-evenly;
} */

.methodes{
    display: flex;
    flex-direction: column;
}

.methodes-button{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.methodes-button input{
    margin-bottom: 1em;
    font-size: 1em;
    border: 2px solid #6b7d7dff;
    border-radius: 3px;

}

.methodes-graphique{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.saisie{
    display: flex;
    flex-direction: row;
    padding: 1px;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-left: -10em;

}

.saisie fieldset{
    border-radius: 5%;
    background: linear-gradient(90deg, #b9cddaff, #a6d8d4ff);
}

.form-structure{
    margin: 1em;
}

.saisie .resultat{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.methodes-param_1{
    display: flex;
    flex-direction: row;
}

.methodes-param_2{
    display: flex;
    flex-direction: column;
}

.methodes-param_2_1, .methodes-param_2_2, .methodes-param_2_3{
    margin-top: 1em;
}

.methodes-submit{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.methodes-submit input{
    font-size: 20px;
}








